---
layout: default
---
<div class="post">
	<h1 class="post-title">Category: {{ page.category | capitalize }}</h1>
	{% if site.categories[page.category] %}
	  {% for post in site.categories[page.category] %}
	  <header class="post-header">
	    <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
	  </header>

	  <article class="post-content">
	    {{ content }}
	  </article>
	  {% endfor %}
	  {% else %}
	  <p>There are no posts for this category.</p>
	{% endif %}

</div>
